<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Chat</title>
    <style>
        body {
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>Add New Chat</h1>
    <form method="POST" action="/chats">
        <input name="from" placeholder="From"><br><br>
        <input name="to" placeholder="To"><br><br>
        <textarea name="msg" placeholder="Enter Message" rows="10" cols="30"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>